---
// https://docs.astro.build/en/guides/images/

import { Image, Picture } from "astro:assets";
import MainLayout from "../../layouts/MainLayout.astro";

import post05Img from "@images/post-05.png";
---

<MainLayout title="Im치genes">
  <h1 class="text-5xl text-white">Im치genes</h1>

  <img
    loading="eager"
    src="/assets/images/post-05.png"
    width="300"
    height="300"
  />

  <Image src={post05Img} width="300" height="300" alt="Post 05" />

  <Image
    src={post05Img}
    style={{
      height: "300px",
      width: "300px",
    }}
    alt="Post 05"
  />

  <h1>Quality low</h1>
  <Image src={post05Img} quality="low" width="300" height="300" alt="Post 05" />
  <h1>Quality high</h1>
  <Image
    src={post05Img}
    quality="high"
    width="300"
    height="300"
    alt="Post 05"
  />
  <h1>Formatos</h1>
  <Image src={post05Img} format="jpg" width="300" height="300" alt="Post 05" />

  <!-- Image pero con esteroide, si no anda jpg tendremos png -->
  <h1>Picture</h1>
  <!-- <Picture src={post05Img} formats={["jpg", "png", "webp"]} width="300" height="300" alt="Post 05" /> -->

  <Picture
    src={post05Img}
    widths={[240, 540, 720, post05Img.width]}
    sizes={`(max-width: 360px) 240px, (max-width: 720px) 540px, (max-width: 1600px) 720px, ${post05Img.width}px`}
    width="300"
    height="300"
    alt="Post 05"
  />
  <!-- 4 teme침os en el widths el post05Img.width es la origina  -->
  <!-- en el sizes cuando el with es de 360 usamos la de 240px y asi -->

  <!-- tama침o de acuerdo a la densidad de pixeles -->
  <Picture
    src={post05Img}
    width="300"
    height="300"
    alt="Post 05"
    width={post05Img.width / 2}
    densities={[1.5, 2]}
  />

  <div
    style={{
      height: "3000px",
    }}
  >
  </div>

  <img
    loading="lazy"
    src="/assets/images/post-04.png"
    width="300"
    height="300"
  />
</MainLayout>

<style>
  h1 {
    @apply text-white mt-10;
  }
</style>
